@font-face {
    font-family: Engine;
    src: url(fonts/Engine-Regular.otf);
}

@font-face {
    font-family: Engine;
    src: url(fonts/Engine-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-CondLightItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-CondBold.ttf);
    font-weight: bold;
}

body {
    background: url("../img/background.png") repeat-y;
    background-size: contain;
}

h1, h2, h3 {
    font-family: Engine, sans-serif;
    color: #e2b86a;
}

p {
    font-family: OpenSans, sans-serif;
    color: #717171;
}

section {
    margin-bottom: 30px;
}

header {
    background-color: #e2b86a;
    color: #ffffff;
    padding-top: 25px;
}

header h1 {
    font-family: Engine, sans-serif;
    color: inherit;
    font-size: 32pt;
    font-weight: 100;
}

header p {
    font-family: Engine, sans-serif;
    color: inherit;
    font-size: 25pt;
    margin: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: inherit;
    text-decoration: underline;
    background-color: transparent;
}

header ul {
    margin-top: 10px;

}

.social {
    display: block;
    height: 41px;
    width: 41px;
    background-size: 35px 35px;
    background: no-repeat 3px 3px;
}

.social:hover {
    background-size: contain;
    background-position: 0 0;

}

.fb-icon {
    background-image: url(../img/fb-icon.png);

}

.vk-icon {
    background-image: url(../img/vk-icon.png);
}

.tw-icon {
    background-image: url(../img/tw-icon.png);
}

ul.nav.menu {
    text-align: justify;
    text-align-last: justify;
}

ul.nav.menu > li {
    position: static;
    display: inline-block;
}

ul.nav.menu > li > a {
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-family: Engine, sans-serif;
    font-size: 20pt;
    padding: 0;
}

ul.nav.menu > li > a:hover {
    text-decoration: underline;
}

#main {
    font-family: Engine, sans-serif;
    font-size: 25pt;
    float: none;
    width: 100%;
}

.left.carousel-control {
    background: url("../img/left.png") no-repeat;
    background-position-y: 50%;
    background-position-x: 10%;

}

.right.carousel-control {
    background: url("../img/right.png") no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
}

.carousel-caption {
    background-color: rgba(224, 186, 106, 0.5);
}

.carousel-caption > p {
    color: #fff;
    font-family: Engine, sans-serif;
    font-size: 30pt;
}

.carousel-indicators {
    width: 99%;
    left: 0;
    margin-left: 0;
    text-align: right;
}

.carousel-indicators li {
    border-color: #e2b86a;
}

.carousel-indicators .active {
    background-color: #e2b86a;

}

.class {
    width: 400px;
    margin: 0 auto;
}

.f-nav {
    z-index: 100;
    background-color: #e2b86a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 210px;

}

.right.carousel-control:hover {
    background: url("../img/right_active.png") no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
}

.left.carousel-control:hover {
    background: url("../img/left_active.png") no-repeat;
    background-position-y: 50%;
    background-position-x: 10%;
}

.slick-next:hover::before {
    background: url("../img/right_active.png") no-repeat;
    right: 0;
}

.slick-prev:hover::before {
    background: url("../img/left_active.png") no-repeat;
    left: 0;
}

.slick-prev:hover::before, .slick-next:hover::before {
    top: 0;
    position: absolute;
}

p.form {
    font-family: OpenSans, sans-serif;
    color: inherit;
    font-size: 18pt;
}

form.form-inline input.form-control {
    width: 100%;
}

div.submit {
    text-align: center;
}

div.submit button {
    font-family: Engine, sans-serif;
    margin-top: 20px;
    font-size: 20pt;
    font-weight: 500;
    color: #e2b86a;
    border: 2px solid #e2b86a;
    padding: 1px 4px;
}

form.form-inline input::-webkit-input-placeholder {
    color: #e2b86a;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    color: #e2b86a;
    font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #e2b86a;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #e2b86a;
    font-style: italic;
}

.slick-prev, .slick-next {
    top: 40%;
}

.slick-prev:before {
    content: url("../img/left.png");
}

.slick-next:before {
    content: url("../img/right.png");
}

.slider {
    width: 50%;
    margin: 20px auto;
}

.slick-slide {
    margin: 0 20px;
}

#form_tasting .slick-slide {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

#type-cheese p a, #customers a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a.type-cheese {
    text-decoration: none;
    color: inherit;
}

#type-cheese h3 {
    cursor: pointer;
    padding: 5px;
    margin: 0;
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    color: white;
    font-style: normal;
}

#type-cheese > h3 {
    color: inherit;
}

div.type-cheese {
    background: #e2b86a;
}

#type-cheese p {
    width: 100%;
    color: white;
    padding: 5px;
    font-size: 12pt;
}

#type-cheese img {
    width: 100%;
}

#type-cheese div.modal div.modal-content {
    background: #e2b86a;
    border-radius: 0;
}

#type-cheese .cheese {
    cursor: pointer;
}

#type-cheese .cheese:focus {
    outline-color: transparent;
}

#type-cheese .type-cheese img:focus {
    outline-color: transparent;
}

#type-cheese div.modal div.bg_image {
    background-size: contain;
    height: 420px;
    margin: 10px 0;
}

#type-cheese div.modal div.col-xs-5 {
    margin: 10px 0;
}

#type-cheese div.modal div.container div.only_short {
    display: none;
}

.modal-form input {
    font-family: OpenSans, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 12pt;
    margin: 10px 0;
    border-radius: 0;
    border-color: white;
    background-color: #e2b86a;
    color: white;
}

#type-cheese .modal-form button {
    border-color: white;
    background-color: transparent;
    color: white;
}

.modal-form input:focus, .modal-form button:focus {
    border-color: white;
    box-shadow: inset 0 1px 1px white, 0 0 8px white;
    outline-color: transparent;
}

.modal-form button:focus:active {
    outline-color: transparent;
}

.modal-form input::-webkit-input-placeholder {
    color: white;
}

.modal-form input:-moz-placeholder,
.modal-form input:-ms-input-placeholder {
    color: white;
}

section#form_tasting p.form {
    font-size: 14pt;
}

#form_tasting button {
    color: #e2b86a;
    border-color: #e2b86a;
    background-color: transparent;
}

#certificates div.certificate:focus, #certificates div.certificate a:focus, #certificates div.certificate img:focus {
    outline-color: transparent;
}

#certificates div.modal div.modal-content {
    background: #e2b86a no-repeat;
    max-width: 625px;
}

#certificates div.modal div.container {
    max-width: 625px;
}

#certificates div.certificate-modal-1 div.bg_image {
    background: url("../img/big_certificate_1.png") no-repeat;
}

#certificates div.certificate-modal-2 div.bg_image {
    background: url("../img/big_certificate_1.png") no-repeat;
}

#certificates div.certificate-modal-3 div.bg_image {
    background: url("../img/big_certificate_1.png") no-repeat;
}

#certificates div.certificate-modal-4 div.bg_image {
    background: url("../img/big_certificate_1.png") no-repeat;
}

#certificates div.certificate-modal-5 div.bg_image {
    background: url("../img/big_certificate_1.png") no-repeat;
}

#certificates div.modal div.bg_image {
    background-size: contain;
    height: 850px;
    margin: 10px 0;
}

p.long {
    display: none;
}
.media {
    background-color: #e2b86a;
    background-clip: content-box;
    margin: 0;
    height: 173px;
}

h3.media-heading {
    font-family: OpenSans, sans-serif;
    font-size: 15pt;
    font-weight: 600;
}

.media * {
    color: white;
}

.media-left {
    padding: 10px;
}

.media-body {
    padding-right: 5px;
}

.media h3, .media p {
    color: white;
}

.media p:first-of-type {
    font-style: italic;
}

#form_bonus {
    margin-top: 20px;
}

#form_bonus p {
    font-size: 16.5pt;
}

div.work_control {
    display: inline-block;
}

div.work_control p {
    width: 100%;
}

section#work_control div {
    display: block;
    background-size: contain;
    padding: 0 0;
}

#work_control div.col-xs-7, #work_control div.col-xs-5 {
    padding: 0 5px;
}

div.work_1 {
    background: url("../img/work_1.png") no-repeat;

}

div.work_2 {
    background: url("../img/work_2.png") no-repeat;
}

div.work_3 {
    background: url("../img/work_3.png") no-repeat;
}

div.work_4 {
    background: url("../img/work_4.png") no-repeat;
}

div.work_5 {
    background: url("../img/work_5.png") no-repeat;
}

div.work_6 {
    background: url("../img/work_6.png") no-repeat;
}

div.work_7 {
    background: url("../img/work_7.png") no-repeat;
}

div.work_8 {
    background: url("../img/work_8.png") no-repeat;
}

div.arrow_1 {
    background: url("../img/arrow_1.png") no-repeat;
}

div.arrow_2 {
    background: url("../img/arrow_2.png") no-repeat;
}

div.arrow_3 {
    background: url("../img/arrow_3.png") no-repeat;
}

div.arrow_4 {
    background: url("../img/arrow_4.png") no-repeat;
}

div.arrow_5 {
    background: url("../img/arrow_5.png") no-repeat;
}

div.arrow_6 {
    background: url("../img/arrow_6.png") no-repeat;
}

div.arrow_7 {
    background: url("../img/arrow_7.png") no-repeat;
}

#work_control div.work_1, div.work_2, div.work_3, div.work_4, div.work_5, div.work_6, div.work_7, div.work_8 {

    height: 80px;
    margin: 0;
}

#work_control div.arrow_1, div.arrow_2, div.arrow_3, div.arrow_4, div.arrow_5, div.arrow_6, div.arrow_7 {
    width: 28px;
    height: 11px;
    margin-top: 40px;
    padding: 0;
    vertical-align: middle;
}

section#price div.pdf {
    background: url("../img/pdf.png") no-repeat;
    width: 142px;
    height: 148px;
}

section#price > p {
    font-size: 16pt;
}

section#price > div.container p.underline {
    font-size: 12pt;
    margin-top: 75px;
    text-decoration: underline;
}

#price > div.container a {
    text-decoration: none;
    display: block;
}

section#price > div.container a > p {

    cursor: pointer;
    font-size: 16pt;
    font-family: OpenSans, sans-serif;
    color: #e2b86a;
    border: 2px solid #e2b86a;
}

section#price > div.container a > p.download {
    font-family: Engine, sans-serif;
}

div.contacts {
    background: url("../img/contacts.png") no-repeat;
}

#map {
    height: 600px;
    margin-top: 30px;
}

#map #mmm, #map div.contacts {
    width: 100%;
    border: none;
}

#map .col-md-6, #map #mmm, div.contacts {
    padding: 0;
    height: 100%;
}

div.contacts {
    padding-left: 20px;
}

#form_order input, #form_tasting input, #form_bonus input, #map input, #map textarea {
    background: transparent;
    border-radius: 0;
}

#form_order input:focus, #form_tasting input:focus, #form_bonus input:focus, #map input:focus, #map textarea:focus {
    border: 1px solid #e2b86a;
    box-shadow: none;
}

#map .type_text {
    height: 135px;
}

div.contacts * {
    color: white;
}

div.submit {
    padding: 0 0;
    width: 115px;
}

#map button {
    background: transparent;
    color: white;
    border-color: white;
}

#map button:hover, section#price > div.container > div.col-xs-2 p.download:hover, #form_order button:hover, #form_tasting button:hover, #form_bonus button:hover {
    color: white;
    border-color: #e2b86a;
    background-color: #e2b86a;
}

#map input::-webkit-input-placeholder, #map textarea::-webkit-input-placeholder {
    color: White;
    font-style: italic;
    margin-left: 20px;
}

:-moz-placeholder { /* Firefox 18- */
    color: White;
    font-style: italic;
    margin-left: 20px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: White;
    font-style: italic;
    margin-left: 20px;
}

:-ms-input-placeholder {
    color: White;
    font-style: italic;
    margin-left: 20px;
}

#production div.slider-for img {
    width: 50%;
    margin-left: 25%;
}

footer {
    background-color: #e2b86a;
}

footer * {
    color: white;
    font-family: OpenSans, sans-serif;
}

footer div.container {
    margin-top: 10px;
}

footer address {
    margin: 10px 0;
    font-size: 14pt;
}

footer div.commun p {
    font-size: 14pt;
    margin-left: 90px;
}

* button.close {
    margin-right: -6px;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 1200px) {
    ul.nav.menu > li > a {

        font-size: 20pt;
        font-weight: 100;
    }

    div.arrow_up a {
        margin-right: 0;
    }

    .f-nav {
        padding: 0 0;
    }
}

#back-top {
    position: fixed;
    bottom: 30px;
    right: 5%;
}

#back-top a {
    width: 48px;
    display: block;
    text-align: center;
    font: bold 8px Arial;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover {
    text-decoration: underline;
}

#back-top span {
    width: 48px;
    height: 48px;
    display: block;
    margin-bottom: -14px;
    background: url("../img/arrow_up.png") no-repeat;;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    margin-right: -100px;

}

#back-top span:hover {
    filter: none;
    -webkit-filter: none;
}

* button.close {
    opacity: .8;
    color: white;
    margin-right: 20px;
}

* button.close:hover, * button.close:focus {
    opacity: 1;
    color: white;
}

@media screen and (max-width: 991px) {
    section.type-cheese a.left_button, a.right_button {
        display: none;
    }

    section#certeficates div.container {
        text-align: center;
    }

    .media {
        margin-bottom: 10px;
        height: 140px;
    }

    #map {
        height: 900px;
    }

    #map .col-md-6 {
        height: 50%;
    }

    #type-cheese div.modal div.container {
        width: 620px;
    }

    #type-cheese div.modal div.container form.only_long {
        display: none;
    }

    #type-cheese div.modal div.container div.only_short {
        display: inherit;
        padding: 0 0;
    }

    #type-cheese div.modal div.only_short div.form-group {
        margin-right: 0;
    }

    #type-cheese div.modal div.only_short button.submit {
        margin: 0 0 10px;
    }

    #type-cheese div.modal div.bg_image {
        height: 270px;
    }

    #certificates div.modal div.container {
        max-width: 600px;
    }

    .carousel-caption > p {
        font-size: 25pt;
    }

    .carousel-caption {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    ul.nav.menu {
        text-align-last: center;
    }

    ul.nav.menu > li {
        display: block;
        margin: 10px 0;
    }

    ul.nav.menu > li > a:hover {
        text-decoration: none;
    }

    section#work_control > div.container {
        margin-left: 30px;
    }

    section#work_control div.row {
        margin-right: 0;
    }

    div.media {
        margin-bottom: 10px;
        height: 160px;
    }

    #type-cheese div.modal div.bg_image {
        height: 200px;
    }

    #type-cheese div.modal div.container {
        width: auto;
    }

    .carousel-caption > p {
        font-size: 22pt;
    }

}

@media screen and (max-width: 770px) {
    footer div.commun p {
        margin-left: 0;
    }
}

@media screen and (max-width: 610px) {
    #certificates div.modal div.bg_image {
        height: 780px;
    }

    .carousel-caption > p {
        font-size: 20pt;
    }
}

@media screen and (max-width: 550px) {
    #certificates div.modal div.bg_image {
        height: 680px;
    }

    .carousel-caption > p {
        font-size: 18pt;
    }
}

@media screen and (max-width: 500px) {
    section#work_control div.col-xs-5 {
        margin-top: 20px;
    }

    footer div.commun p {
        font-size: 10pt;
    }

    footer address {
        font-size: 10pt;
    }

    footer div.address p {
        font-size: 8pt;
    }

    #certificates div.modal div.bg_image {
        height: 580px;
    }

    .carousel-caption > p {
        font-size: 14pt;
    }
}

@media screen and (max-width: 400px) {
    #certificates div.modal div.bg_image {
        height: 480px;
    }

    .carousel-caption > p {
        font-size: 10pt;
    }
}


